* {
    box-sizing: border-box;
  }
  :root {
    --on: 0;
    --bg: hsl(0, 0%, calc(100% - (var(--on) * 100%)));
    --cord: hsl(0, 0%, calc((var(--on) * 100%)));
    --stroke: hsl(0, 0%, calc((60 - (var(--on) * 50)) * 1%));
    --shine: hsla(0, 0%, 100%, calc(0.75 - (var(--on) * 0.5)));
    --cap: hsl(0, 0%, calc((40 + (var(--on) * 30)) * 1%));
    --filament: hsl(45, calc(var(--on) * 80%), calc((25 + (var(--on) * 75)) * 1%));
  }
  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg);
  }

  h1{
    color: hsl(0, 0%, calc(var(--on) * 100%));
  }

  


  .toggle-scene {
    overflow: visible !important;
    height: 250px;
    position: absolute;
  }
  .toggle-scene__cord {
    stroke: var(--cord);
    cursor: move;
  }
  .toggle-scene__cord:nth-of-type(1) {
    display: none;
  }
  .toggle-scene__cord:nth-of-type(2),
  .toggle-scene__cord:nth-of-type(3),
  .toggle-scene__cord:nth-of-type(4),
  .toggle-scene__cord:nth-of-type(5) {
    display: none;
  }
  .toggle-scene__cord-end {
    stroke: var(--cord);
    fill: var(--cord);
  }
  .toggle-scene__dummy-cord {
    stroke-width: 2;
    stroke: var(--cord);
  }
  .bulb__filament {
    stroke: var(--filament);
  }
  .bulb__shine {
    stroke: var(--shine);
  }
  
  
  