/* Define colors */
:root {
    --darkBlue: #217093;
    --medBlue: #4eb8dd;
    --lightBlue: #ddf1fa;
    --inputBG: #f3fafd;
    --blackColor: rgb(0, 0, 0);
    --whiteColor:#ffffff;
  }

  .main-from {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    max-width: 1500px;
    background-color: #fff;
    margin: 0;
    padding: 2.25em;
    box-sizing: border-box;
    border: solid 1px #ddd;
    border-radius: 50px;
    font-family: "Source Sans Pro", sans-serif;
  }
  
  /* SVG styles */
  .svgContainer {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 1em;
    border-radius: 50%;
    pointer-events: none;
  }
  
  .svgContainer div {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    border-radius: 50%;
    padding-bottom: 100%;
  }
  
  .svgContainer .mySVG {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  .svgContainer:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    border: solid 2.5px var(--darkBlue);
    border-radius: 50%;
  }
  .main-from .main-login{
    width: 425px ;
    height: 760px;
  }
  
  /* Input styles */
  .inputGroup {
    margin: 0 0 2em;
    padding: 0;
    position: relative;
  }
  

  
  label {
    margin: 0 0 12px;
    display: block;
    font-size: 1.25em;
    color: black;
    font-weight: 700;
    font-family: inherit;
  }
  
  input[type="email"],
  input[type="text"],
  input[type="number"],
  input[type="url"],
  input[type="search"],
  input[type="password"] {
    display: block;
    margin: 0;
    padding: 0.4em 1em 0.5em;
    background-color: var(--whiteColor);
    border: solid 1px var(--blackColor);
    border-radius: 4px;
    -webkit-appearance: none;
    box-sizing: border-box;
    width: 100%;
    height: 65px;
    font-size: 1.55em;
    color: #353538;
    font-weight: 600;
    font-family: inherit;
    transition: box-shadow 0.2s linear, border-color 0.25s ease-out;
  }
  
  input[type="email"]:focus,
  input[type="text"]:focus,
  input[type="number"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="password"]:focus {
    outline: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border: solid 2px var(--medBlue);
  }
  
  /* Button styles */
  button {
    display: block;
    margin: 0;
    padding: 0.65em 1em 1em;
    background-color: var(--medBlue);
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: none;
    width: auto;
    height: 50px;
    font-size: 1.55em;
    color: #fff;
    font-weight: 100;
    font-family: inherit;
    transition: background-color 0.2s ease-out;
  }
  .btn-login{
   justify-content: center;
  }
  

  .inputGroup1.focusWithText .helper {
    transform: translate(1em, 1.55em) scale(0.6);
    opacity: 1;
  }
  
  .inputGroup2 input[type="password"] {
    padding: 0.4em 1em 0.5em;
  }
  
  .inputGroup2 input[type="text"] {
    padding: 0.025em 1em 0;
  }
  
  #showPasswordToggle {
    display: block;
    padding: 0 0 0 1.45em;
    position: absolute;
    top: 0.25em;
    right: 0;
    font-size: 1em;
  }
  
  #showPasswordToggle input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  
  #showPasswordToggle .indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 0.85em;
    width: 0.85em;
    background-color: var(--inputBG);
    border: solid 2px var(--blackColor);
    border-radius: 3px;
  }
  
  #showPasswordToggle input:checked ~ .indicator:after {
    content: "";
    position: absolute;
    left: 0.25em;
    top: 0.025em;
    width: 0.2em;
    height: 0.5em;
    border: solid var(--darkBlue);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    visibility: visible;
  }
  
  #showPasswordToggle input:focus ~ .indicator,
  #showPasswordToggle input:hover ~ .indicator {
    border-color: var(--medBlue);
  }
  
  #showPasswordToggle input:disabled ~ .indicator {
    opacity: 0.5;
  }
  .forgot_password{
    text-decoration: underline #16C7EE;
    color: #16C7EE;
    width: max-content;
    float: right;
    justify-content: start;
  }

  button:hover,
  button:active {
    background-color: #16C7EE;
  }
  .forgot_password:hover{
      color: aqua;
  }
  ::placeholder{
    font-size: medium;

  }
  