.flex-box-info {
    display: block ;
}
.flex-box-name{
    display: flex;
}
.form-outline  {
    margin-left: 20px; 
}
.flex-box-name .form-label {
    margin-right:150px;
    font-weight: bold;
}
.flex-box-name .form-control-register{
    width:140px ;
}
.flex-box-info .form-label{
    margin-right:100vmax;
    font-weight: bold;
}
.block-box-more-info .form-label{
    font-weight: bold;
    width: 80px;
    margin-right:100vh ;
}
.more-text{
    font-size: 10px;
    margin-right: 190px;
    top: 10px;
}