.register-UI {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .register-UI .div {
    overflow: hidden;
    background-image: url(./img/register-UI.png);
    background-size: cover;
    background-position: 50% 50%;
    width: 1920px;
    height: 1080px;
    position: relative;
  }
  
  .register-UI .overlap {
    position: absolute;
    width: 1437px;
    height: 883px;
    top: 99px;
    left: 241px;
    background-color: #ffffff;
    border-radius: 50px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .register-UI .overlap-group {
    position: absolute;
    width: 441px;
    height: 771px;
    top: 78px;
    left: 922px;
  }
  
  .register-UI .frame-ng-k {
    position: absolute;
    width: 441px;
    height: 747px;
    top: 0;
    left: 0;
  }
  
  .register-UI .text-wrapper {
    top: -1px;
    left: 153px;
    color: #000000;
    font-size: 26px;
    position: absolute;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .register-UI .input-username {
    top: 187px;
    position: absolute;
    width: 426px;
    height: 55px;
    left: 1px;
  }
  
  .register-UI .div-wrapper {
    position: relative;
    width: 424px;
    height: 55px;
    background-color: #ffffff;
    border-radius: 14px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .register-UI .text-wrapper-2 {
    position: absolute;
    top: 18px;
    left: 18px;
    font-family: "Inter-Thin", Helvetica;
    font-weight: 100;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .register-UI .input-email {
    top: 277px;
    position: absolute;
    width: 426px;
    height: 55px;
    left: 1px;
  }
  
  .register-UI .text-wrapper-3 {
    left: 19px;
    position: absolute;
    top: 18px;
    font-family: "Inter-Thin", Helvetica;
    font-weight: 100;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .register-UI .group {
    position: absolute;
    width: 426px;
    height: 55px;
    top: 367px;
    left: 0;
  }
  
  .register-UI .text-wrapper-4 {
    left: 7px;
    position: absolute;
    top: 18px;
    font-family: "Inter-Thin", Helvetica;
    font-weight: 100;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .register-UI .re-password {
    position: absolute;
    width: 426px;
    height: 55px;
    top: 457px;
    left: 0;
  }
  
  .register-UI .button-login {
    position: absolute;
    width: 127px;
    height: 50px;
    top: 619px;
    left: 150px;
  }
  
  .register-UI .overlap-2 {
    position: relative;
    width: 125px;
    height: 50px;
    background-color: #5b57fd;
    border-radius: 14px;
  }
  
  .register-UI .text-wrapper-5 {
    position: absolute;
    top: 16px;
    left: 35px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .register-UI .overlap-3 {
    position: absolute;
    width: 424px;
    height: 34px;
    top: 692px;
    left: 1px;
  }
  
  .register-UI .line {
    position: absolute;
    width: 424px;
    height: 6px;
    top: 7px;
    left: 0;
  }
  
  .register-UI .text-wrapper-6 {
    position: absolute;
    top: 0;
    left: 203px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .register-UI .icons {
    position: absolute;
    width: 200px;
    height: 44px;
    top: 727px;
    left: 113px;
  }
  
  .register-UI .firstname {
    position: absolute;
    width: 170px;
    height: 55px;
    top: 105px;
    left: 1px;
    background-color: #ffffff;
    border-radius: 14px;
    border: 2px solid;
    border-color: #000000;
  }
  
  .register-UI .text-wrapper-7 {
    position: absolute;
    top: 123px;
    left: 18px;
    font-family: "Inter-Thin", Helvetica;
    font-weight: 100;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .register-UI .last-name {
    position: absolute;
    width: 170px;
    height: 55px;
    top: 103px;
    left: 254px;
    background-color: #ffffff;
    border-radius: 14px;
    border: 2px solid;
    border-color: #000000;
  }
  
  .register-UI .text-wrapper-8 {
    position: absolute;
    top: 123px;
    left: 265px;
    font-family: "Inter-Thin", Helvetica;
    font-weight: 100;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .register-UI .overlap-4 {
    position: absolute;
    width: 750px;
    height: 881px;
    top: 1px;
    left: 1px;
    border-radius: 48px 150px 150px 48px;
    background: linear-gradient(180deg, rgb(188.7, 190.23, 204) 0%, rgb(21.82, 199.09, 238) 100%);
  }
  
  .register-UI .p {
    position: absolute;
    width: 421px;
    top: 296px;
    left: 145px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .register-UI .text-wrapper-9 {
    position: absolute;
    top: 203px;
    left: 221px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .register-UI .overlap-5 {
    position: absolute;
    width: 200px;
    height: 99px;
    top: 560px;
    left: 256px;
  }
  
  .register-UI .rectangle {
    position: absolute;
    width: 200px;
    height: 80px;
    top: 0;
    left: 0;
    border-radius: 14px;
    border: 2px solid;
    border-color: #ffffff;
  }
  
  .register-UI .text-wrapper-10 {
    top: 27px;
    left: 66px;
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .register-UI .img {
    position: absolute;
    width: 654px;
    height: 884px;
    top: 2714px;
    left: 1984px;
  }
  