:root {
    --text-font-family: "Island Moments", Helvetica;
    --text-font-weight: 400;
    --text-font-size: 46px;
    --text-letter-spacing: 0px;
    --text-line-height: normal;
    --text-font-style: normal;
  }
  