body{
    background-color: #fff;
}
header{
    display: flex;
    height: 100px;
    width: auto;
   
}

div.iconMenu{
    height:100px ;
    width:100px;
    float:left;
   
}
img.menuicon{
    height: 25px;
    width:25px;
    margin-top: 33px;
    margin-left: 33px;
}
div.logo{
    height: 100px;
    width: 150px ;
   
}
img.logoimg{
    width: 100px;
    height: 50px;
    margin-top: 25px;
    margin-left: 30px;
}
div.search {
    stroke: #b3a4a4;
    width: 600px;
    height: 100px;
    display: flex;
}
.search input[type=text]{
    margin-top: 32px;
    margin-left: 35px;
    height: 30px;
    width: 500px;
    border-radius: 12cqb;
    padding-left: 10px;
    border: 2px solid #937f7f;
}
.search input[type=image]{
    height: 4ch;
    width: 4ch;
    margin-top: 37px;
    margin-left: 5px;
}
img.imgUser{
    width: 37px;
    height: 40px;
    margin-top: 27px;
}
div.user{
    float:right;
    background-color: #ffffff;
    height: 100px;
    width: 40px;
    margin-left: 520px;
}
div.line{
    width: auto;
    height: 0.5px;
    background-color: #b3a4a4;
}
main{
    display: flex;
    height:980 ;
    width: auto;
}
nav{
    display: inline;
    width:300px;
    height:980px;
    
}
div.line2{
    background-color: #b3a4a4;
    height: auto;
    width: 0.5px;
    
}
div.blog{
    height: auto;
    width: 1250px;
   
   
}
div.menu1{
    width: auto;
    height: 150px;
}
h3.Tenblog{
 margin-left: 10px;
}
div.menu101{
width: 300px;
height: 25px;

}
h3.nameblog{
    margin-left:25px ;
    text-transform:capitalize;
    font-size: 20px;
}
div.menu102{
 width: 300px;
 height: 60px;
 margin-top: 40px;
}
button.butnewpost{
   height: 50px;
   width: 190px;
   margin-left: 53px;
   box-shadow:0 2px #d6caca;
   display: flex;
   background-color: #fff;
   border-radius:3cap;
   border:1px solid #b5a5a5;
   transition-duration: 0.4s;
   animation-fill-mode: backwards;
}
img.iconplus
{
    margin: 9px;
    height: 25px;
    width: 25px;
   margin-top: 10px;
}
h4.txtnewpost{
    margin: 15px;
    text-size-adjust:unset;
    color: #f27474;
    font-style:normal;
}
div.menu2{
    display: flex;
    height: auto;
    width: auto;
}
div.menu201{
    width: 270px;
    height: auto;
    float: left;
}
div.menu202{
    width: 30px; ;
    height: auto;
}
div.menubaidang{
    width: auto;
    height: 60px;
}
.btnthunhap:hover{
   
   color: #f27474;
}
.btnnhanxet:hover{
    color: #f27474;
}
.btnthongke:hover{
    color: #f27474;
}
#btnbaidang:hover{
    color: #f27474;
}

#btnbaidang{
    width: 270px;
    height: 50px;
    display: flex;
    border: #ffffff;
    margin-top: 5px;
    background-color:#ffffff;
}
#imgbaidang{
    height: 25px;
    width: 25px;
    margin: 11px;
}
#namebaidang{
    font-weight: normal;
    font-family:inherit;
    margin: 15px;
    text-transform:capitalize;
    font-size: 15px;
}
div.menuthongke{
    width: auto;
    height: 60px;
   
}
button.btnthongke{
    width: 270px;
    height: 50px;
    display: flex;
    background-color: #ffffff;
    border: #ffffff;
}
img.imgthongke{
    height: 25px;
    width: 25px;
    margin: 11px;
}
h4.namethongke{
    font-weight: normal;
    font-family:inherit;
    margin: 15px;
    text-transform:capitalize;
    font-size: 15px;
}
div.menunhanxet{
    width: auto;
    height: 60px;
    
}
button.btnnhanxet{
    width: 270px;
    height: 50px;
    display: flex;
    background-color: #ffffff;
    border: #ffffff;
}
img.imgnhanxet{
    height: 25px;
    width: 25px;
    margin: 11px;
}
h4.namenhanxet{
    font-weight: normal;
    font-family:inherit;
    margin: 15px;
    text-transform:capitalize;
    font-size: 15px;
}
div.menuthunhap
{
    width: auto;
    height: 60px;
    
}
button.btnthunhap{
    width: 270px;
    height: 50px;
    display: flex;
    background-color: #ffffff;
    border: #ffffff;
}
img.imgthunhap{
    height: 25px;
    width: 25px;
    margin: 11px;
}
h4.namethunhap{
    font-weight: normal;
    font-family:inherit;
    margin: 15px;
    text-transform:capitalize;
    font-size: 15px;
}
div.blog{
    display: flex;
    width: 1095px;
    height: auto;
  
}
div.leftBlog{
width: 100px;
height: auto;
display: block;

}
#ndBlog{
    width: 895px;
    height: auto;
    background-color: burlywood;
}
div.rightBlog{
    width: 100px;
    height: auto;
    
}
#top-centerBlog{
    height: 100px;
    width: auto;
    background-color: #ffffff;
}
#ndBlog:hover{
   box-shadow: 1px 1px 5px 5px #e9dcdc;

}
#ndBlog{
    height: 100px;
    width: auto;
    background-color: #ffffff;
}
#menu-top-centerBlog{
    height: 10px;
}